--
-- PostgreSQL database dump
--

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;

SET lock_timeout = 0;

SET idle_in_transaction_session_timeout = 0;

SET client_encoding = 'UTF8';

SET standard_conforming_strings = on;

SELECT pg_catalog.set_config ('search_path', '', false);

SET check_function_bodies = false;

SET xmloption = content;

SET client_min_messages = warning;

SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;

--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner:
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    ali_category_id character varying(50),
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq AS integer START
WITH
    1 INCREMENT BY 1 NO MINVALUE NO MAXVALUE CACHE 1;

ALTER TABLE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;

--
-- Name: coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupons (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    event_id uuid,
    code character varying(50) NOT NULL,
    discount_type character varying(20) NOT NULL,
    discount_value numeric(12, 2) NOT NULL,
    min_purchase_amount numeric(12, 2) DEFAULT 0,
    max_discount_amount numeric(12, 2),
    usage_limit integer DEFAULT 100,
    used_count integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.coupons OWNER TO postgres;

--
-- Name: customer_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_addresses (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    customer_id uuid,
    street text NOT NULL,
    number character varying(20) NOT NULL,
    city character varying(100) NOT NULL,
    state_province character varying(100) NOT NULL,
    postal_code character varying(20),
    country_code character(2),
    is_default boolean DEFAULT false
);

ALTER TABLE public.customer_addresses OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    email character varying(150) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    phone character varying(20),
    password_hash text,
    is_guest boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: discovery_pool; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.discovery_pool (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    batch_id uuid,
    niche_id integer,
    aliexpress_id character varying(100) NOT NULL,
    title_raw text,
    price_est_usd numeric(12, 2),
    sales_est integer DEFAULT 0,
    rating_est numeric(3, 2) DEFAULT 0,
    discovery_score numeric(10, 4) DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.discovery_pool OWNER TO postgres;

--
-- Name: exchange_rates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exchange_rates (
    currency_code character(3) NOT NULL,
    rate_to_usd numeric(12, 6) NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.exchange_rates OWNER TO postgres;

--
-- Name: marketing_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marketing_events (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    name character varying(100) NOT NULL,
    country_code character(2),
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.marketing_events OWNER TO postgres;

--
-- Name: niche_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.niche_cache (
    id integer NOT NULL,
    country_code character(2) NOT NULL,
    niche_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.niche_cache OWNER TO postgres;

--
-- Name: niche_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.niche_cache_id_seq AS integer START
WITH
    1 INCREMENT BY 1 NO MINVALUE NO MAXVALUE CACHE 1;

ALTER TABLE public.niche_cache_id_seq OWNER TO postgres;

--
-- Name: niche_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.niche_cache_id_seq OWNED BY public.niche_cache.id;

--
-- Name: order_coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_coupons (
    order_id uuid NOT NULL,
    coupon_id uuid NOT NULL,
    discount_applied_local numeric(12, 2) NOT NULL
);

ALTER TABLE public.order_coupons OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    order_id uuid,
    product_id uuid,
    variant_id uuid,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price_local numeric(12, 2) NOT NULL,
    unit_cost_usd numeric(12, 2) NOT NULL
);

ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    customer_id uuid,
    address_id uuid,
    status character varying(30) DEFAULT 'PENDING_PAYMENT'::character varying,
    tracking_number character varying(100),
    total_amount_local numeric(12, 2) NOT NULL,
    total_amount_usd numeric(12, 2) NOT NULL,
    ali_order_id character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    mp_preference_id character varying(100)
);

ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_variants (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    product_id uuid,
    ali_sku_id character varying(100) NOT NULL,
    color character varying(100),
    size character varying(50),
    material character varying(100),
    additional_cost_usd numeric(12, 2) DEFAULT 0,
    image_url text,
    stock integer DEFAULT 0,
    is_active boolean DEFAULT true,
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.product_variants OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    batch_id uuid,
    category_id integer,
    supplier_id uuid,
    aliexpress_id character varying(100) NOT NULL,
    title_original text NOT NULL,
    image_url text,
    video_url text,
    local_images jsonb DEFAULT '[]'::jsonb,
    base_cost_usd numeric(12, 2) NOT NULL,
    shipping_cost_usd numeric(12, 2) DEFAULT 0,
    weight_kg numeric(10, 3) DEFAULT 0.500,
    suggested_price_local numeric(12, 2),
    suggested_price numeric(12, 2),
    roi_percent numeric(10, 2) DEFAULT 0,
    net_margin_usd numeric(12, 2) DEFAULT 0,
    vat_rate numeric(5, 2),
    rate_to_usd numeric(12, 6),
    target_country character(2) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    marketing_copy jsonb DEFAULT '{}'::jsonb,
    ai_verdict text,
    raw_details jsonb DEFAULT '{}'::jsonb,
    total_stock integer DEFAULT 0,
    source text DEFAULT 'AliExpress'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.products OWNER TO postgres;

--
-- Name: search_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.search_batches (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    status character varying(20) DEFAULT 'DISCOVERING'::character varying,
    target_country character(2),
    total_niches_requested integer NOT NULL,
    completed_niches integer DEFAULT 0,
    target_elite_count integer DEFAULT 50,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.search_batches OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    aliexpress_store_id character varying(100) NOT NULL,
    store_name character varying(255) NOT NULL,
    store_url text,
    rating numeric(3, 2),
    reliability_score integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: tax_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tax_rules (
    country_code character(2) NOT NULL,
    country_name character varying(50) NOT NULL,
    vat_rate numeric(5, 2) NOT NULL,
    gateway_fee_percent numeric(5, 2) DEFAULT 5.00,
    currency_code character(3) NOT NULL,
    is_active boolean DEFAULT true
);

ALTER TABLE public.tax_rules OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid () NOT NULL,
    email character varying(100) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) DEFAULT 'EDITOR'::character varying,
    created_at timestamp with time zone DEFAULT now()
);

ALTER TABLE public.users OWNER TO postgres;

--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
ALTER COLUMN id
SET DEFAULT nextval(
    'public.categories_id_seq'::regclass
);

--
-- Name: niche_cache id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niche_cache
ALTER COLUMN id
SET DEFAULT nextval(
    'public.niche_cache_id_seq'::regclass
);

--
-- Name: categories categories_ali_category_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
ADD CONSTRAINT categories_ali_category_id_key UNIQUE (ali_category_id);

--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
ADD CONSTRAINT categories_pkey PRIMARY KEY (id);

--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
ADD CONSTRAINT categories_slug_key UNIQUE (slug);

--
-- Name: coupons coupons_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
ADD CONSTRAINT coupons_code_key UNIQUE (code);

--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);

--
-- Name: customer_addresses customer_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses
ADD CONSTRAINT customer_addresses_pkey PRIMARY KEY (id);

--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
ADD CONSTRAINT customers_email_key UNIQUE (email);

--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
ADD CONSTRAINT customers_pkey PRIMARY KEY (id);

--
-- Name: discovery_pool discovery_pool_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_pool
ADD CONSTRAINT discovery_pool_pkey PRIMARY KEY (id);

--
-- Name: exchange_rates exchange_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exchange_rates
ADD CONSTRAINT exchange_rates_pkey PRIMARY KEY (currency_code);

--
-- Name: marketing_events marketing_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marketing_events
ADD CONSTRAINT marketing_events_pkey PRIMARY KEY (id);

--
-- Name: niche_cache niche_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niche_cache
ADD CONSTRAINT niche_cache_pkey PRIMARY KEY (id);

--
-- Name: order_coupons order_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
ADD CONSTRAINT order_coupons_pkey PRIMARY KEY (order_id, coupon_id);

--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);

--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
ADD CONSTRAINT orders_pkey PRIMARY KEY (id);

--
-- Name: product_variants product_variants_ali_sku_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
ADD CONSTRAINT product_variants_ali_sku_id_key UNIQUE (ali_sku_id);

--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);

--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT products_pkey PRIMARY KEY (id);

--
-- Name: search_batches search_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.search_batches
ADD CONSTRAINT search_batches_pkey PRIMARY KEY (id);

--
-- Name: suppliers suppliers_aliexpress_store_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
ADD CONSTRAINT suppliers_aliexpress_store_id_key UNIQUE (aliexpress_store_id);

--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);

--
-- Name: tax_rules tax_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_rules
ADD CONSTRAINT tax_rules_pkey PRIMARY KEY (country_code);

--
-- Name: niche_cache unique_niche_country; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niche_cache
ADD CONSTRAINT unique_niche_country UNIQUE (country_code, niche_text);

--
-- Name: products unique_product_market; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT unique_product_market UNIQUE (aliexpress_id, target_country);

--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
ADD CONSTRAINT users_email_key UNIQUE (email);

--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
ADD CONSTRAINT users_pkey PRIMARY KEY (id);

--
-- Name: idx_coupons_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_coupons_code ON public.coupons USING btree (code)
WHERE (is_active = true);

--
-- Name: idx_discovery_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_discovery_batch ON public.discovery_pool USING btree (batch_id);

--
-- Name: idx_discovery_niche; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_discovery_niche ON public.discovery_pool USING btree (niche_id);

--
-- Name: idx_orders_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer ON public.orders USING btree (customer_id);

--
-- Name: idx_products_ali_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_ali_id ON public.products USING btree (aliexpress_id);

--
-- Name: idx_products_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_batch ON public.products USING btree (batch_id);

--
-- Name: idx_products_market_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_market_status ON public.products USING btree (target_country, status);

--
-- Name: idx_variants_ali_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_variants_ali_sku ON public.product_variants USING btree (ali_sku_id);

--
-- Name: idx_variants_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_variants_product ON public.product_variants USING btree (product_id);

--
-- Name: coupons coupons_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
ADD CONSTRAINT coupons_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.marketing_events (id) ON DELETE SET NULL;

--
-- Name: customer_addresses customer_addresses_country_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses
ADD CONSTRAINT customer_addresses_country_code_fkey FOREIGN KEY (country_code) REFERENCES public.tax_rules (country_code);

--
-- Name: customer_addresses customer_addresses_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses
ADD CONSTRAINT customer_addresses_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers (id) ON DELETE CASCADE;

--
-- Name: discovery_pool discovery_pool_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_pool
ADD CONSTRAINT discovery_pool_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.search_batches (id) ON DELETE CASCADE;

--
-- Name: discovery_pool discovery_pool_niche_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_pool
ADD CONSTRAINT discovery_pool_niche_id_fkey FOREIGN KEY (niche_id) REFERENCES public.niche_cache (id) ON DELETE SET NULL;

--
-- Name: tax_rules fk_tax_currency; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_rules
ADD CONSTRAINT fk_tax_currency FOREIGN KEY (currency_code) REFERENCES public.exchange_rates (currency_code);

--
-- Name: marketing_events marketing_events_country_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marketing_events
ADD CONSTRAINT marketing_events_country_code_fkey FOREIGN KEY (country_code) REFERENCES public.tax_rules (country_code);

--
-- Name: order_coupons order_coupons_coupon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
ADD CONSTRAINT order_coupons_coupon_id_fkey FOREIGN KEY (coupon_id) REFERENCES public.coupons (id);

--
-- Name: order_coupons order_coupons_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
ADD CONSTRAINT order_coupons_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders (id);

--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders (id) ON DELETE CASCADE;

--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products (id);

--
-- Name: order_items order_items_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
ADD CONSTRAINT order_items_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants (id);

--
-- Name: orders orders_address_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
ADD CONSTRAINT orders_address_id_fkey FOREIGN KEY (address_id) REFERENCES public.customer_addresses (id);

--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers (id);

--
-- Name: product_variants product_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
ADD CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products (id) ON DELETE CASCADE;

--
-- Name: products products_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT products_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.search_batches (id) ON DELETE SET NULL;

--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories (id) ON DELETE SET NULL;

--
-- Name: products products_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers (id) ON DELETE SET NULL;

--
-- Name: products products_target_country_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
ADD CONSTRAINT products_target_country_fkey FOREIGN KEY (target_country) REFERENCES public.tax_rules (country_code);

--
-- Name: search_batches search_batches_target_country_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.search_batches
ADD CONSTRAINT search_batches_target_country_fkey FOREIGN KEY (target_country) REFERENCES public.tax_rules (country_code);

--
-- PostgreSQL database dump complete
--